@font-face{
    font-family:"Terminal Grotesque";
    src:url("terminal-grotesque.ttf") format("truetype");
}
@font-face{
    font-family:"Terminal GrotesqueOpen";
    src:url("terminal-grotesque_open.otf") format("opentype");
}
@font-face{
    font-family:"Porpora";
    src:url("Porpora-Regular.woff2") format("woff2");
}
body{
    background-color:rgb(68, 80, 248);
    margin: 0%;
    font-family: "Terminal GrotesqueOpen";

}
a{
    text-decoration: none;
    color: whitesmoke;
}
.moi2{
    padding-top: 0%;
    position: fixed;
    font-size: 1.4em;
    font-family:"Terminal Grotesque";
    transform: rotate(90deg);
    top: 570px;
    left: -50px;
}

.index{
    font-family: "Terminal GrotesqueOpen";
    -webkit-text-stroke: .3px whitesmoke;
    -webkit-text-fill-color:transparent;
    width: 25%;
    font-size: 2em;
    margin-left: 70%;
    padding: 1%;  
}

.readingname{
    filter: blur(5px);
    font-size: .6em;
    text-align: right;
}
.readingname:hover{
    filter: blur(0px);
    font-family:"Terminal Grotesque";
    font-size: .7em;
    -webkit-text-stroke: .3px transparent;
    -webkit-text-fill-color: whitesmoke;
    text-align: right;
}
.thoughts{
    position: fixed;
    width: 45%;
    margin-left: 5%;
    margin-top: 10%;
    font-size: 1.8em;
    top: 0%;
    font-family:"Terminal Grotesque";
}
.thought1{
    margin-left: 5%;
    margin-top: 5%;
    font-size: .9em;
    top: 0%;
}
.thought2{
    margin-left: 5%;
    margin-top: 5%;
    font-size: .9em;
    top: 0%;
}