@font-face{
    font-family:"Terminal Grotesque";
    src:url("terminal-grotesque.ttf") format("truetype");
}
@font-face{
    font-family:"Terminal GrotesqueOpen";
    src:url("terminal-grotesque_open.otf") format("opentype");
}
@font-face{
    font-family:"Porpora";
    src:url("Porpora-Regular.woff2") format("woff2");
}
body{
    background-color:rgb(68, 80, 248);
    margin: 0%;
    font-family: "Terminal GrotesqueOpen";

}
a{
    text-decoration: none;
    color: whitesmoke;
}
.moi2{
    padding-top: 0%;
    position: fixed;
    font-size: 1.4em;
    font-family:"Terminal Grotesque";
    transform: rotate(90deg);
    -webkit-text-stroke: .3px whitesmoke;
    font-family:"Terminal GrotesqueOpen";
    -webkit-text-fill-color: transparent;
    top: 570px;
    left: -50px;
}

.index{
    font-family: "Terminal GrotesqueOpen";
    -webkit-text-stroke: .6px rgb(68, 80, 248);
    -webkit-text-fill-color:transparent;
    width: 20%;
    font-size: 2em;
    margin-top: 3%;
    margin-left: 80%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;  
    background-color: whitesmoke;
    transform: skewY(10deg);
}

.readingname{
    filter: blur(5px);
    font-size: .6em;
    text-align: right;
}
.readingname:hover{
    filter: blur(0px);
    font-family:"Terminal Grotesque";
    font-size: .7em;
    -webkit-text-stroke: .3px transparent;
    -webkit-text-fill-color: rgb(68, 80, 248);
    text-align: right;
}
.thoughts{
    position: fixed;
    width: 45%;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 1.8em;
    top: 0%;
    font-family:"Terminal Grotesque";
    background-blend-mode: multiply;
    overflow: scroll;
}
.thought1{
    margin-left: 5%;
    margin-top: 3%;
    font-size: .9em;
    width: 45%;
    top: 0%;
    z-index: -2;
    /* filter: blur(1px); */
    /* background-color: whitesmoke; */
    padding: 3%;
    /* color: rgb(68, 80, 248); */
    font-family:"Terminal GrotesqueOpen";
    
    -webkit-text-stroke: .6px whitesmoke;
    -webkit-text-fill-color:transparent;
    line-height: 120%;
    opacity: 100%;
    position: fixed;
    border-radius: 10%;
    transform: skewY(10deg);

    animation-name: expand1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.thought2{
    margin-left: 2%;
    margin-top: 5%;
    font-size: .9em;
    font-family:"Terminal GrotesqueOpen";
    /* color: rgb(68, 80, 248); */
    /* background-color: whitesmoke; */
    -webkit-text-stroke: .6px whitesmoke;
    -webkit-text-fill-color:transparent;
    transform: skewY(-10deg);
    
    width: 42%;
    top: 0%;
    z-index: -1;
    line-height: 120%;
    opacity: 100%;
    padding: 3%;
    position: fixed;

    animation-name: expand1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.thought3{
    margin-left: 8%;
    margin-top: 5%;
    font-size: .9em;
    font-family:"Terminal GrotesqueOpen";
    
    -webkit-text-stroke: .6px whitesmoke;
    -webkit-text-fill-color:transparent;
    transform: skewY(-20deg);
    width: 46%;
    top: 0%;
    z-index: -1;
    line-height: 120%;
    opacity: 100%;
    padding: 3%;
    position: fixed;
    text-align: right;

    animation-name: expand1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes expand1 {
    from {
        font-size: 1.5em; 
    }
    50% {
        font-size: 4em;
    }
  
    to {
        font-size: 1.5em; 
    }
  }
 

  .menu{
    padding: 2%;
    margin: auto;
    display: inline-block;
    position: fixed;
    width: 50%;
    text-align: right;
    height: 20%;
    top: 200px;
    left: -500px;
    transform: rotate(40deg);
    justify-content: space-around;
    z-index: 2;
    font-size: 2em;
    background-color: whitesmoke;
    transform: skewY(10deg);
    font-family: "Terminal GrotesqueOpen";
    -webkit-text-stroke: .6px rgb(68, 80, 248);
    -webkit-text-fill-color:transparent;
    
}




.menu a{
    font-family: "Terminal GrotesqueOpen";
    -webkit-text-stroke: .6px rgb(68, 80, 248);
    -webkit-text-fill-color:transparent;
}


@keyframes expand2 {
    from {
        left: -500px;
    }
  
    to {
        left: -300px;
    }
  }

